.separator {
  background: linear-gradient(
    to right,
    transparent,
    var(--color-gray-300),
    transparent
  );
  border: none;
}

.horizontal {
  width: 100%;
  height: 1px;
}

.vertical {
  height: 100%;
  width: 1px;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--color-gray-300),
    transparent
  );
}