.content {
  padding: var(--spacing-xs) var(--spacing-sm);
  background: linear-gradient(to bottom, var(--color-gray-800), var(--color-gray-900));
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-sm);
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  box-shadow: var(--shadow-md), 0 0 8px var(--color-primary);
  max-width: 24rem;
  animation-duration: var(--animation-duration-normal);
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 50;
  transform-origin: var(--radix-tooltip-content-transform-origin);
}

.content[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}

.content[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.content[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.content[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(0.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-0.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(0.25rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-0.25rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}